{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post-full">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p> <!-- Display full content of the post -->
        <div class="post-buttons">
            <a href="/edit/{{ post._id }}" class="edit-button">Edit</a>
            <a href="/delete/{{ post._id }}" class="delete-button">Delete</a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 My Blog. All rights reserved.</p>
        </div>
    </footer>
{% endblock %}
